<% layout('/layouts/default.html', {title: 'frp_server管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('frp_server管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('frp:frpServer:edit')){ %>
					<a href="${ctx}/frp/frpServer/form" class="btn btn-default btnTool" title="${text('新增frp_server')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${frpServer}" action="${ctx}/frp/frpServer/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('FRP面板密码')}：</label>
					<div class="control-inline">
						<#form:input path="userName" maxlength="128" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('域名')}：</label>
					<div class="control-inline">
						<#form:input path="subdomainHost" maxlength="16" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('服务器ip')}：</label>
					<div class="control-inline">
						<#form:input path="serverIp" maxlength="20" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('服务器名称')}：</label>
					<div class="control-inline">
						<#form:input path="serverName" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					请输入服务器密码
				</h4>
			</div>
			<div class="modal-body">
				密码: &nbsp;<input type="password" id="passwd">
				<input type="hidden" id = "serverId">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭
				</button>
				<button type="button" class="btn btn-primary" onclick="install()">
					安装
				</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>

<% } %>

<script src="${ctxStatic}/aes/aes.js?${_version}"></script>
<script src="${ctxStatic}/aes/pad-zeropadding.js?${_version}"></script>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text('服务器名称')}', name:'serverName', index:'a.server_name', width:150, align:"center", formatter: function(val, obj, row, act){
			return '<a href="${ctx}/frp/frpServer/form?id='+row.id+'" class="btnList" data-title="${text('编辑frp_server')}">'+(val||row.id)+'</a>';
		}},
		{header:'${text('服务器ip')}', name:'serverIp', index:'a.server_ip', width:150, align:"center"},
		{header:'${text('域名')}', name:'subdomainHost', index:'a.subdomain_host', width:100, align:"center"},
		{header:'${text('web端口')}', name:'webPort', index:'a.web_port', width:80, align:"center"},
		{header:'${text('服务器用户名')}', name:'userName', index:'a.user_name', width:80, align:"center", frozen:true},
		{header:'${text('操作')}', name:'actions', width:120, sortable:false, align:"center", title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('frp:frpServer:edit')){ %>
				actions.push('<a href="${ctx}/frp/frpServer/form?id='+row.id+'" class="btnList" title="${text('编辑frp_server')}"><i class="fa fa-pencil"></i></a>&nbsp;');
				actions.push('<a href="${ctx}/frp/frpServer/delete?id='+row.id+'" class="btnList" title="${text('删除frp_server')}" data-confirm="${text('确认要删除该frp_server吗？')}"><i class="fa fa-trash-o"></i></a>&nbsp;');
                actions.push('<a style="cursor:pointer;"  onclick="fastFrp(\''+row.id+'\')">远程安装</a>&nbsp;')
				actions.push('<a style="cursor:pointer;"  onclick="downBat(\''+row.id+'\')">下载Bat</a>&nbsp;')
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});

	function downloadServer(id) {
        window.open("${ctx}/frp/frpServer/exportServer/" + id)
	}

	function install() {
		var passwd = aesPassWd($("#passwd").val())
		var serverId = $("#serverId").val()
		$('#myModal').modal('hide')
		if (passwd!=null && passwd!="" && serverId!=null && serverId!="") {
		    $.ajax({
		        url: "${ctx}/frp/frpServer/fastFrp/" + serverId + "?passwd=" + passwd,
		        method : "post",
		        contentType : "application/json",// 发送信息至服务器时内容编码类型:json格式
		        datatype : "json",
		        success: function (e) {
		        	console.log(e)
		            alert(e)
		        },
		        error: function (e) {
					alert(e)
		        }
		    })
		}
	}

	function aesPassWd(passwd) {
		var key = CryptoJS.enc.Latin1.parse('frp9876543210000');
		var iv = CryptoJS.enc.Latin1.parse('1234567890000000');
		//加密
		var encrypted = CryptoJS.AES.encrypt(passwd, key, {
			iv: iv,
			mode: CryptoJS.mode.CBC,
			padding: CryptoJS.pad.Pkcs7
		});
		return encrypted.toString()
	}

    function fastFrp(id) {
		$("#passwd").val("")
		$("#serverId").val(id)
		$('#myModal').modal('show')
    }

    function downBat(id) {
		window.open("${ctx}/frp/bat/file/" + id + "/WEB")
	}
</script>